body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    color: #ff3366;
    text-align: center;
}

h1 {
    font-size: 40px;
}

.heart {
    color: red;
}
